<h1 class="mb-2 text-lg font-semibold leading-8 text-zinc-800">
  Posts
</h1>

<ul>
  <%= for {_, post} <- @streams.posts do %>
    <li class="py-2">
      <.link patch={~p"/posts/#{post.slug}"}>
        <p><%= post.title %></p>
        <p class="text-sm"><%= Calendar.strftime(post.inserted_at, "%y-%m-%d") %></p>
      </.link>
    </li>
  <% end %>
</ul>
